table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.myframe {
	margin: auto;
	border: 0;
	width: auto;
	background-color: white;
	
}

div.myframe {
  width:90%;
  padding: 10px 10px;
}

iframe.myframe {
	text-align:center;
	width: 98%;
	height: 100%;
}

div.outerframe {
	padding: 10px 10px;
	text-align:center;
}

